$gray: #565352;
$darkGray: #050707;
$white: #ffffff;
$purple: #390b7a;
$green: #7db04f;
$darkGreen: #437420;
$brown: #9b6237;
$darkBrown: #5e361d;
$title: 20px;
$tab-label: 20px;
$icon: 90px;
$made-by: 16px;

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $gray;
  overflow: hidden;
}

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.app {
  background-color: $darkBrown;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  z-index: 0;
}

.title {
  color: $white;
  height: 5vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  animation: upDown 5s infinite;
}

.content {
  color: $darkGray;
  width: 100%;
}

.select-menu {
  font-size: 3rem !important;
  font-weight: 600 !important;
  color: $white !important;
  border: none !important;
}

.select-sub-menu {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: $white !important;
  border: none !important;
}

.tab-menu {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: $white !important;
  border: none !important;
  max-width: none !important;
  width: 50vw !important;
}

.MuiInput-input {
  padding-right: 0 !important;
}

.MuiMenu-paper {
  left: 0 !important;
  font-family: sans-serif !important;
  color: $white !important;
  background-color: $green !important;
}

.white-icon {
  color: white !important;
}

.content-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.rewind {
  width: 100%;
}

.rewind-selection {
  height: 100vh;
}

.rewind-list-item-text {
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: $white !important;
}

.rewind-button {
  width: 100%;
  height: 100%;
  position: sticky;
  bottom: 2.5vh;
  z-index: 1;
}

.message {
  width: 100%;
  height: 3vh;
  line-height: 3.3vh;
  position: sticky;
  bottom: 0;
  font-size: 1.1rem;
  color: $white;
  background-color: $purple;
  text-align: center;
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(4%);
  }
  50% {
    transform: translateY(-20%);
  }
}
