$gray: #565352;
$darkGray: #050707;
$white: #ffffff;
$title: 20px;
$tab-label: 20px;
$icon: 90px;
$made-by: 16px;

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: $gray;
  overflow: hidden;
}

.wrapper {
  background-color: $gray;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.app {
  background-color: $darkGray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  z-index: 0;
}

.title {
  color: $white;
  height: 5vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  animation: upDown 5s infinite;
}

.content {
  color: $darkGray;
  width: 100%;
}

.tab-label {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: $white !important;
  border: none !important;
}

.content-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.rewind {
  width: 100%;
}

.rewind-selection {
  height: 100vh;
}

.rewind-list-item-text {
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: #ffffff !important;
}

.rewind-button {
  width: 100%;
  height: 100%;
  position: sticky;
  bottom: 0;
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(4%);
  }
  50% {
    transform: translateY(-20%);
  }
}
