html,
body,
#app {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #292c2e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  touch-action: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  touch-action: none;
}

ul {
  padding: 0;
}

h1 {
  font-size: calc(2vmin + 2vw);
  font-weight: 100;
  letter-spacing: 5px;
  margin-bottom: calc(0.5vmin + 0.5vh);
}

h5 {
  user-select: none;
  touch-action: none;
  text-align: left;
  line-height: 100%;
}

h6 {
  font-size: calc(1.8vmin + 1.8vw);
  text-align: left;
  line-height: 80%;
  font-weight: 400;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  background: none;
  color: #fafafa;
  font-weight: 600;
  opacity: 69%;
  user-select: none;
  touch-action: none;
  margin: calc(0.5vmin + 0.5vh);
  overflow: hidden;
  text-align: center;
  font-size: calc(3.2vmin + 3.2vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.light-up {
  filter: saturate(4);
}

#main {
  width: 100vw;
  height: 100vh;
  min-width: 355px;
  min-height: 355px;
  padding: calc(1vmin + 1vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center;
}

#lock-screen,
#branches,
#lock-screen-clear {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
}

#lock-screen-clear {
  opacity: 0%;
}

.g-signin2,
#branches {
  z-index: 10;
}

#branches {
  padding-top: calc(2vmin + 2vh);
  background-color: #292c2e;
  overflow: scroll;
  justify-content: flex-start;
  height: 80%;
}

.branch {
  list-style-type: none;
  padding: calc(0.5vmin + 0.5vh);
}

.selected-branch {
  background-color: #fafafa;
  color: #292c2e;
}

.branch-button {
  text-decoration: none;
  font-size: calc(5vmin + 5vw);
  font-weight: 400;
}

.modal-button {
  width: 100%;
  width: 100vw;
  height: 20%;
  padding: calc(1.4vmin + 1.4vw);
  font-size: calc(1.4vmin + 1.4vw);
  margin: 0;
  border: calc(1.4vmin + 1.4vw) solid #292c2e;
  background-color: #9f621d;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 15;
  opacity: 100%;
}

#modal-header {
  padding-top: calc(1vmin + 1vh);
  background-color: #292c2e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

#close-button {
  position: fixed;
  top: calc(1vmin + 1vh);
  right: calc(1.1vmin + 1.1vh);
  font-size: calc(1.4vmin + 1.4vw);
  cursor: pointer;
  margin: 0;
  line-height: 1;
  font-weight: 200;
  z-index: 20;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dev-switch {
  position: absolute;
  left: calc(1vmin + 1vh);
  top: calc(1vmin + 1vh);
  font-size: calc(0.6vmin + 0.6vw);
  text-decoration: none;
  color: #fafafa;
  font-weight: 200;
}

.dev-on {
  background-color: #671518;
}

#sign-out {
  position: absolute;
  right: calc(1vmin + 1vh);
  top: calc(1vmin + 1vh);
  font-size: calc(0.6vmin + 0.6vw);
  text-decoration: none;
  color: #fafafa;
  font-weight: 200;
}

#all-buttons {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#bottom-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.button-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  pointer-events: none;
}

#button-on {
  width: 100%;
  background-color: #0c6235;
  margin-left: 0;
}

#button-off {
  background-color: #671518;
  width: 100%;
  margin-right: 0;
}

#button-save {
  background-color: #0b61b0;
  width: 100%;
}

#button-refresh {
  background-color: #6c3371;
  width: 100%;
  margin-left: 0;
}

#button-rewind {
  background-color: #9f621d;
  width: 100%;
  margin-right: 0;
}

#console {
  margin-top: calc(0.5vmin + 0.5vh);
  border: calc(1vmin + 1vh) solid transparent;
  background-color: #454a4d;
  width: 100%;
  height: 40%;
  overflow: scroll;
}

#prod-console,
#dev-console {
  font-size: calc(1vmin + 1vw);
  color: #fafafa9b;
  font-family: monospace;
  text-align: left;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: scroll;
  overflow-anchor: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  height: 100%;
  user-select: text;
}

#prod-console::-webkit-scrollbar,
#dev-console::-webkit-scrollbar {
  display: none;
}
