html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #292c2e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  touch-action: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  touch-action: none;
}

h1 {
  font-size: calc(1.5vmin + 1.5vw);
  font-weight: 100;
  letter-spacing: 5px;
  margin-bottom: calc(0.5vmin + 0.5vh);
}

h5 {
  user-select: none;
  touch-action: none;
  text-align: left;
  line-height: 100%;
}

h6 {
  font-size: calc(1.8vmin + 1.8vw);
  text-align: left;
  line-height: 80%;
  font-weight: 400;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  background: none;
  color: #fafafa;
  font-weight: 600;
  opacity: 69%;
  user-select: none;
  touch-action: none;
  margin: calc(0.5vmin + 0.5vh);
  overflow: hidden;
  text-align: center;
  font-size: calc(3.2vmin + 3.2vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.light-up {
  filter: saturate(4);
}

#app {
  width: 100vw;
  height: 100vh;
  min-width: 355px;
  min-height: 355px;
  padding: calc(1vmin + 1vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center;
}

#lock-screen {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #292c2e;
  position: fixed;
}

#all-buttons {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#bottom-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.button-text {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#button-on {
  width: 100%;
  background-color: #0c6235;
  margin-left: 0;
}

#button-off {
  background-color: #671518;
  width: 100%;
  margin-right: 0;
}

#button-save {
  background-color: #0b61b0;
  width: 100%;
}

#button-refresh {
  background-color: #6c3371;
  width: 100%;
  margin-left: 0;
}

#button-rewind {
  background-color: #9f621d;
  width: 100%;
  margin-right: 0;
}

#console {
  margin-top: calc(0.5vmin + 0.5vh);
  border: calc(1vmin + 1vh) solid transparent;
  background-color: #454a4d;
  font-size: calc(1vmin + 1vw);
  color: #fafafa9b;
  font-family: monospace;
  text-align: left;
  word-break: break-word;
  overflow: scroll;
  overflow-anchor: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  height: 35%;
  user-select: text;
}

#console::-webkit-scrollbar {
  display: none;
}
