html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #33373a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  touch-action: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 5px;
  margin-bottom: calc(0.5vmin + 0.5vh);
}

h5 {
  user-select: none;
  touch-action: none;
}

h6 {
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 400;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  background: none;
  color: #fafafa;
  font-weight: 600;
  opacity: 69%;
  user-select: none;
  margin: calc(0.5vmin + 0.5vh);
  overflow: hidden;
  text-align: center;
  touch-action: none;
  font-size: calc(3.2vmin + 3.2vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button:hover {
  opacity: 100%;
  filter: saturate(2);
}

#app {
  width: 100vw;
  height: 100vh;
  min-width: 355px;
  min-height: 455px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center;
}

#all-buttons {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#bottom-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#button-on {
  width: 100%;
  background-color: #0c6235;
  margin-left: 0;
}

#button-off {
  background-color: #671518;
  width: 100%;
  margin-right: 0;
}

#button-save {
  background-color: #0b61b0;
  width: 100%;
}

#button-refresh {
  background-color: #6c3371;
  width: 100%;
  margin-left: 0;
}

#button-rewind {
  background-color: #9f621d;
  width: 100%;
  margin-right: 0;
}

#console {
  margin-top: calc(0.5vmin + 0.5vh);
  border: 10px solid transparent;
  background-color: #454a4d;
  font-size: 14px;
  color: #fafafa9b;
  font-family: monospace;
  text-align: left;
  word-break: break-word;
  overflow: scroll;
  overflow-anchor: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  height: 35%;
  user-select: text;
}

#console::-webkit-scrollbar {
  display: none;
}
