html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: 0;
  margin: 0;
  background: #292c2e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #aaaaa7;
  -webkit-font-smoothing: antialiased;
  touch-action: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  touch-action: none;
}

h1 {
  font-size: calc(1.5vmin + 1.5vw);
  font-weight: 200;
  letter-spacing: 5px;
  margin-bottom: calc(0.5vmin + 0.5vh);
}

h5 {
  user-select: none;
  touch-action: none;
  text-align: left;
  line-height: 100%;
}

h6 {
  font-size: calc(1.8vmin + 1.8vw);
  text-align: left;
  line-height: 50%;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: none;
  background: none;
  color: #aaaaa7;
  font-weight: 600;
  user-select: none;
  touch-action: none;
  margin: calc(0.5vmin + 0.5vh);
  overflow: hidden;
  text-align: center;
  font-size: calc(3.2vmin + 3.2vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 100%;
  filter: saturate(3);
}

#app {
  width: 100vw;
  height: 100vh;
  min-width: 355px;
  min-height: 355px;
  padding: calc(1vmin + 1vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: center;
}

#all-buttons {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#bottom-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.button-text {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#button-on {
  width: 100%;
  background-color: #19442b;
  margin-left: 0;
}

#button-off {
  background-color: #461a1d;
  width: 100%;
  margin-right: 0;
}

#button-refresh {
  background-color: #482a4c;
  width: 100%;
  margin-left: 0;
}

#button-save {
  background-color: #1a446f;
  width: 100%;
}

#button-rewind {
  background-color: #634420;
  width: 100%;
  margin-right: 0;
}

#console {
  margin-top: calc(0.5vmin + 0.5vh);
  border: 10px solid transparent;
  background-color: #383c3e;
  font-size: calc(0.7vmin + 0.7vw);
  color: #aaaaa7;
  font-family: monospace;
  text-align: left;
  word-break: break-word;
  overflow: scroll;
  overflow-anchor: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  height: 35%;
  user-select: text;
}

#console::-webkit-scrollbar {
  display: none;
}
